.navbar {
	background-color: #f72210;
	height: 100px;
	
}
.navbar svg{
	width: 396px;
height: 60px;
margin: 10px auto 0;
fill: white;
margin-left: 220px;
}
.navbar span{
	color: white;
}
.nav2{
	border-top: 1px solid #666;
	border-bottom: 1px solid rgba(3,3,3,.4);
}



h4{
	color: rgba(3,3,3,.4);
	font-weight: bolder;
}
 .col-sm-6 h5{
	font-weight: bold;
}

.col-md-3 a{
	font-size: 15px;
	color: black;
	font-weight: bold;
}
.col-md-4{
	position: relative;
}
.rhino{
	margin-top: -30px;
}
.rhino span{
	background-color: white;
	color: red;

}
.media-body{
	position: relative;

}
.icons{
	display: inline-flex;
	
}
.formdetails{
max-width: 300px;
margin: 0 auto 30px;
border: 1px solid #e5e5e5;
background-color: #f4f5f6;
padding: 20px;
	
	
}
.icon-n{
	flex: none;
display: block;
width: 29px;
height: 28px;
background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
margin-right: 10px;
}
.col-sm-4 a{
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.col-md-4 a{
	font-size: 15px;
	color: black;
	font-weight: bold;
}
.col-sm-6 a{
	font-size: 19px;
	color: black;
	font-weight: bold;
}
.col-lg-4{
display: inline-flex;
color: black;

}
.col-lg-8{
	display: inline-flex;
	color: black;

}
.stories{
	position: relative;
}
.category{
	margin-top: -30px;
	color: red;
	font-size: 18px;
	font-weight: bolder;
	background-color: white;
 }
.shut{
	position: relative;
}
.categoryU{
	margin-top: -30px;
}

 .categoryU a{
	font-size: 18px;
	font-weight: bolder;
	background-color: white;
    color: red;
    text-align: center;
 }
 .GOP{
 	position: relative;
 }
  .category1 {
	margin-top: -30px;
	
 }
 .category1 a{
 	font-size: 18px;
	font-weight: bolder;
	background-color: white;
    color: red;
    text-align: center;
 }
 .real{
 	position: relative;
 }
 .category2{
 	margin-top: -30px;
 }
  .category2 a{
 	font-size: 18px;
	font-weight: bolder;
	background-color: white;
    color: red;
    text-align: center;
 }
.ant{
	position: relative;
}
 .category3{
 	margin-top: -30px;
 }
  .category3 a{
 	font-size: 18px;
	font-weight: bolder;
	background-color: white;
    color: red;
    text-align: center;
 }
 .media border p-3{
 	position: relative;
 }
  .category4{
 	margin-top: -30px;
 }
  .category4 a{
 	font-size: 18px;
	font-weight: bolder;
	background-color: white;
    color: red;
    text-align: center;
 }
 .col-sm-6{
 	position: relative;
 }
 
h1{
	color: white;
	margin-left: 100px;
}
.nav ul li {
	display: inline-flex;
	
}
.nav{
	background-color: white;
}
.nav-link{
	color:black;
	text-decoration: none;
	font-weight: bold;

}
.nav2 .nav-link{
	font-weight: normal;
}
.nav-link a {
	
	font-size: 14px;
   color: #666;
   font-weight: bold;
}

#subscribe{
	 border-radius: 20px;
	 background-color: yellow;
}
#login{
	color: white;
	
}